body {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  background-color: #1a1a1a;
  color: #ff01c0;
  overflow-x: hidden;
}

h3 {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 4em;
  font-weight: 100;
}

#header-artistas {
  margin-top: 2em;
}

/* NAVBAR STYLES */

nav {
  position: sticky;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.navbar-brand img {
  width:  50px;
  height: 50px;
}

nav a {
  color: #ffffff;
  font-weight: bold;
}

.nav-item a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 200;
}

.navbar-nav .nav-link {
  font-size: large;
  font-family: "Rethink Sans", sans-serif;
  
  position: relative;
  color: #ffffff;
  padding: 10px 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff01c0; 
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  visibility: visible;
  opacity: 0.5;
  width: 100%;
}

.navbar-nav .nav-link:hover {
  color: #ff01c0; 
}

.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(71%) sepia(9%) saturate(917%) hue-rotate(289deg) brightness(96%) contrast(88%);
}

.navbar-toggler {
  border: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-toggler.collapsed {
  border: none;
}

.navbar-toggler:not(.collapsed) {
  border: 2px solid #D2A0B0;
}

/* HEADER STYLES */

.countdownbtn{
  color: #ff01c0;
  border-color: #ff01c0;
  border-width: 0.2rem;
  font-family: "Rethink Sans", sans-serif;
  font-weight: 900;
}

.countdownbtn:hover{
  color: #000000;
  background-color: #ff01c0;
  border-color: #ff01c0;
  font-family: "Rethink Sans", sans-serif;
}

.countdownbtn:active{
  color: #000000 !important; 
  border-color: #ff01c08a !important;
  background-color: #ff01c08a !important;
  font-family: "Rethink Sans", sans-serif;
}

header {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff01c0;
  text-align: center;
  font-family: "Rethink Sans", sans-serif;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: grayscale();
}

.header-text {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 4rem;
  font-weight: 400;
}

#countdown {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Rethink Sans", sans-serif;
}

/* CARDS STYLES */

.card {
  background-color: #ff01c0;
  color: black;
  font-family: "Rethink Sans", sans-serif;
}

.card .btn {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  font-family: "Rethink Sans", sans-serif;
}

.card .btn:hover {
  background-color:  rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-family: "Rethink Sans", sans-serif;
}

.card h3 {
  color: #000000;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 2em;
  font-family: "Rethink Sans", sans-serif;
}

.card h6 {
  font-size: 5em;
  font-weight: 100;
  font-family: "Rethink Sans", sans-serif;
}

.card-sold-out {
  opacity: 0.5;
  position: relative;
}

.sold-out-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: bold;
  z-index: 10;
  text-transform: uppercase;
  opacity: 1;
  font-family: "Rethink Sans", sans-serif;
}

/* ARTISTIST STYLES */

.artista img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.artista img:hover {
  box-shadow: 0 0 20px rgba(91, 69, 69, 0.8);
}

/* ACORDEON */

.accordion-button {
  background-color: #ff01c0;
  font-size: 0.3em;
}

.accordion-body {
  background-color: #ff01c0;
}

.accordion-body img {
  width: 400px;
}

.maps {
  filter: grayscale();
}

section {
  margin-bottom: 3em;
  margin-top: 3em;
}

@media (max-width: 767px) {
  .header-text {
    font-size: 1.5rem;
  }
}

/* FOOTER */

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  font-family: "Rethink Sans", sans-serif;
  color: white;
}

.footer-blur {
  background: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(8px); 
  color: rgb(0, 0, 0);
  padding: 20px;
}

.footer-links a {
  color: white;
  text-decoration: underline;
  margin: 0 10px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
}

.social-icons img {
  color: white;
  height: 24px;
  margin: 0 10px;
}

.footer-images img {
  height: 50px;
  margin: 0 10px;
}