




/* Estilos personalizados */
body {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    background-color: #1a1a1a;
    color: #D2A0B0; /* Color rosa por defecto */
  }

h2 {
  font-size: 7rem;
  font-weight: 100;
}


h3 {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 4em;
  font-weight: 100;
}


  /* Sticky navbar */
  
  nav {
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  nav a {
    color: #D2A0B0;
    font-weight: bold;
  }


  .nav-item a {
    color: #D2A0B0;
    font-size: 2rem;
    font-weight: 200;
  }

  .navbar-nav .nav-link {
    position: relative;
    color: #D2A0B0; /* Color rosa para el texto */
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  /* Efecto de línea animada */
  .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff; /* Color rosa de la línea */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover para mostrar la línea */
  .navbar-nav .nav-link:hover::before {
    visibility: visible;
    width: 100%;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff; /* Cambia el color del texto en hover si deseas */
  }
  

  


  /* Estilos del header */
  header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D2A0B0;
    text-align: center;
  }

  header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale();
  }

  .header-text {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 7rem;
    font-weight: 900;
  }

  /* Cuenta atrás */
  #countdown {
    font-size: 5rem;
    font-weight: 900;
  }

  /* Estilo de las cards */
  .card {
    background-color: #D2A0B0;
    color: black;
  }

  .card button {
    background-color: white;
    color: black;
  }

  /* Grid de artistas */
  .artista img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
  }


  .accordion-button {
    background-color: #D2A0B0;
  }

  .accordion-body {
    background-color: #D2A0B0;
  }

  .accordion-body img {
    width: 400px;
  }


  .maps {
    filter: grayscale();
  }

section {
  margin-bottom: 3em;
  margin-top: 3em;
}


  /* Estilo del footer */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
  }

  /* Responsive */
  @media (max-width: 767px) {
    .header-text {
      font-size: 1.5rem;
    }
  }